/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font: 13px/18px Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0px;
  background-repeat: repeat-x;
  background-color: #dedede;
  background-position: 0px 110px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Verdana,sans-serif;
  line-height: 1em;
  letter-spacing: 0px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}
 
sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

a:link {
  text-decoration: none;
  /*color: #336f67; JAD/JPD Dark Green */
  color: #00456a;
}

a:visited {
  color: #00456a;
}

a:hover {
	/* color:#ec611f; Orange*/
	color: #BFD000;  /* BLC Light Green */
}
.front a{
	font-weight: bold;	
}

#zone-branding,
#zone-content,
#zone-header,
#zone-menu {
  background: white;
  padding: 0px 15px;
}

/*uber research screenshot image responsiveness*/
#node-page-138 img{
	width: 100%;
	height: 100%;
}

/*sidr responsive menu*/
/*#sidr-wrapper-0{
	margin-right: 20px;
	background: #4D317A;
	padding-top: 5px;
	padding-bottom: 5px;
}

#sidr-0-button{
	color: white;
	font-size: initial;
	padding-left: 10px;
}*/

.responsive-menus.responsified{
	width: 94%;
}

.responsive-menus.responsified span.toggler{
	background: #4D317A;
}

.responsive-menus.responsified .responsive-menus-simple li ul li a{
	font-weight: 200;
	font-size: 10.5px;
}

.responsive-menus.responsified .responsive-menus-simple li ul li ul li a{
	font-weight: 100;
	font-size: 9.5px;
}

#block-views-clinical-trials-block-1,
#block-views-clinical-trials-block,
#block-twitter-block-1{
	display: none;
}

.front .region-inner.region-sidebar-first-inner,
.front .region-inner.region-content-inner{
	display:table;
}

.front #block-views-meetings-block,
.front #block-block-31{
	display: table-footer-group;
}

.not-front table td{
	vertical-align: top;
}

.not-front table{
	width: auto;
}
.node-clinical-trials .field-label-inline .field-items{
	float: none;
}

.more-link{
	text-align: left;
}

@media only screen and (max-width: 740px){
.more-link{
	margin-bottom: 25px;
}

.page-node-5 table td{
        float: left;
}
.page-paper-alert .views-exposed-widget.views-submit-button{ 
        float: right;
        padding-right: 0px;
        padding-top: 8px;
}
.page-user-register #user-register-form .form-actions{
        margin-left: 0px;
}
#block-views-paper-alert-block-3{
	display: table-header-group;
}
#block-views-paper-alert-block-4{
	display: none;
}
}

@media only screen and (max-width: 500px){
input{
	width: 70%;	
} 
}

#zone-footer {
  background: #4D317A; /* Dark purple */
  padding: 0px 15px;
}


/* Header */
#zone-branding-wrapper,
#zone-branding {
	height: 115px;
}

#region-branding {	
	width: 100%;
	display: inline-block;
	float: left;
}

#region-user-first {
	display: inline-block; 
	float: right;
}

#region-user-second {	
	float: right;
}

.context-editorial-board td {
        vertical-align: top;
}

/* Footer */
.footer-1,
.footer-2,
.footer-3,
.footer-4{
	display: none;
}

.footer-5 {
	width: 100%;
	vertical-align: top;
	padding-right: 30px;
}


.footer-title {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
}

.footer-body a,
.footer-body {
	color: white;
}

#region-footer-first {
	padding: 30px 55px;	
}

#region-footer-first ul {
	list-style: none;
}

#region-footer-first p {
	margin-bottom: 5px;
}


/* Logo config */
.logo-img {
  padding-top: 15px;
  padding-bottom: 5px;
}

.logo-img img{
  width: 100%;
  height: auto;
}

/* Social block */
#block-block-15 {
	display: none;
}

/* Subscribe button */
input[type="button"] {
  background: none repeat scroll 0 0 #BFD000;
  border: 0 solid #aaaeb1;
  border-radius: 4px;
  color: white;
  font: bold 13px Helvetica, Arial, Verdana, sans-serif;
  cursor: pointer;
  text-shadow: none;
  padding: 10px 15px 10px;
}

input[type="button"]:hover {
  background: none repeat scroll 0 0 #d2de4c;
}

/* Search button etc */
input[type="submit"] {
  background: none repeat scroll 0 0 #4D317A;
  border: 0 solid #aaaeb1;
  border-radius: 3px;
  color: white;
  font-weight: normal;
  text-shadow: none;
}

.form-actions input:hover {
  background: none repeat scroll 0 0 #9684BC;
}

#block-search-form .block-title {
	display: none;
}

#block-search-form {
	padding-top: 10px;
	float: right;
}

#block-search-form #search-block-form {  
  margin-bottom: 1em;
}

#block-search-form #search-block-form--2 {  
  margin-bottom: 1em;
}


/* user welcome and login menu */
#block-scfmembers-scfmembers-user-top-menu {
/*	width: 600px;*/	
	float: right;
}

#block-scfmembers-scfmembers-user-top-menu .item-list{
	float: right;
	padding: 5px 0px;
}

#block-scfmembers-scfmembers-user-top-menu .item-list ul{
	margin: 0;	
}

#block-scfmembers-scfmembers-user-top-menu h2.block-title {
	display: none;
}

#scfmembers_user_menu li{
	display: inline;
	color: 066862;
	font-family: Helvetica, Arial, Verdana;
  	font-size: 12px;
  	font-weight: bold;
 	border-right: 1px solid #CCCCCC;
 	padding: 2px 10px;
 	margin: 0;
}

#scfmembers_user_menu li.last{
	border: none;
}

.breadcrumb {
  	padding-top: 0.5em;
  	padding-bottom: 0.7em;
}


/** Menu **/
nav {
	display: none;
}

#region-menu {
	height: 30px;
	background-color: #4D317A; /* dark purple*/
}

/* for nice-menu down bg color */
#region-menu ul li ul {
	background-color: #4D317A; /* dark purple*/
}

#region-menu.grid-12 {
	display: none;
}

.block-nice-menus {
  line-height: 17px;
}

#region-menu ul ul {
	background: none;
	margin-top: 7px;
}

#block-system-main-menu{
	display: block;
}

#block-menu-block-1{
  display: none;
}

ul.nice-menu, 
ul.nice-menu ul {
  	z-index: 10;
}

ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover  {
  	background: none;
}

ul.nice-menu-down li ul li ul {
  	left: 201px;
}

ul.nice-menu-down ul li.menuparent > a:after {
  	 /*content: '>';*/
  	content: url('../images/arrow_menu.png'); 
  	color: white;
  	padding-right: 0px;
  	margin-right: 0px;
  	float: right;
}

#region-menu ul.nice-menu ul li,
#region-menu ul.nice-menu ul li.first {
	border: 0;
	padding: 14px 26px 12px 26px;
	border-bottom: 1px solid white;
}

#region-menu ul.nice-menu ul li.last {
	border: 0;
	padding: 12px 26px;
	border-bottom: 0;
}

#region-menu ul.nice-menu li {
  	background: none;
  	border-top: 0;
  	border-bottom: 0;
  	border-left: 0;
  	border-right: 1px solid white;
  	margin-top: 1px;
  	margin-bottom: 1px;
  	padding: 6px 12px;
}

#region-menu ul.nice-menu li.first {
  	border-left: 1px solid #79a0a9;
}

#region-menu ul.nice-menu li.last {
	border-right: none;  
}

#region-menu ul.nice-menu a {
  	color: white;
  	font-size: 11px;
  	font-family: Helvetica, Arial, Verdana, sans-serif;
  	font-weight: normal;
  	padding: 0px;
  	text-transform: uppercase;
  	letter-spacing: 0.05em;
}

#region-menu ul.nice-menu li.active,
#region-menu ul.nice-menu li.active-trail{
  	background-color: #9684BC; /*light purple*/
}

#region-menu ul.nice-menu li:hover{
  	background-color: #9684BC; /*light purple*/
}

#region-menu ul.nice-menu li li.active-trail,
#region-menu ul.nice-menu li li:hover {
  	margin-top: -1px;
}



/* Slider */
@media only screen and (max-width: 740px){
.front .block-nivo-slider{
	display: none;
}
#block-search-form,
#block-scfmembers-scfmembers-user-top-menu{
	display: none;
}
/*#block-multiblock-5{
	width: 109%;
	margin-top: 10px;
}
#block-multiblock-7{
	margin-left: 5%;
	margin-right: 5%;
}*/
#search-block-form--2{
	margin-top: 10px;
}
#search-block-form--2,
#scfmembers_user_menu{
	text-align: center;
}
}

.front .block-nivo-slider .theme-dark.slider-wrapper {
	padding: 0;
}

.front .block-nivo-slider {
	margin-top: 1px;
}

.front .nivo-caption {
  width: 30%; 
  height: 100%;
  font-family: "Futura Book", "Century Gothic", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  /*line-height: 35px;*/
  opacity: 0.8;
  /*padding: 20px 20px;*/
}

.front .nivoSlider {
  display: block;
}

.nivo-caption p {
  color: #fbf5ea;
  display: inline;
  padding: 0;
}

.nivo-caption a {
  color: #f6ca53 !important;
  border: none !important;
  font-size: 12px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
}

.nivo-caption a:after {
  content: "» ";
  padding-left: 4px;
  padding-right: 10px;
}
    
.nivo-caption .title {
	color: #88c3bf;
	display: inline;
}

.front .nivo-controlNav {
	position: absolute;
	left: 50%;
}


/* Front page content */
.front #page-title,
.front #first-time {
	display: none;
}

.front #zone-content .block .content {
	padding-top: 10px;
}

.front #region-sidebar-first.grid-3 {
	padding-top: 2%;
	padding-right: 2%;
	margin-top: 10px;
}

.front #region-content {

	padding-right: 0%;
	margin-top: 10px;
}

/* Block Titles */
.front .region-content h2.block-title,
.front .region-sidebar-first h2.block-title {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 0.05em;
	background: #4D317A;
	color: white;
	font-size: 14px;
	padding: 10px;
}

 /* Block Sizes & Positions */
 /* Block 25 is Latest Articles Manual Block */
.front .block-latest-articles-block,
.front .block-25,
.front .block-clinical-trials-block { 
	height: 300px;
}

.front .block-views-meetings-block,
.front .block-paper-alert-block-3 { 
	height: 300px;
}

#block-block-31{
	padding-bottom: 20px;
}

/* Aligning the Facebook Block*/
.front #zone-content .block-block-31 .content,
.front #zone-content .block-twitter-block .content {
	padding: 0;
/*	display:none;*/
}

.front .block-twitter-block {
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
}
.front .block-field-title,
.front .views-field-field-meeting-link {
	font-size: 13px;
	color: #BFD000;
	font-weight: bold;
}

.front .view-latest-articles .block-field-title {
	/*margin-bottom: 15px; */
	padding-bottom: 5%;
}

.front .view-clinical-trials .views-field-title {
	padding-bottom: 5%;
	padding-left: 0;
}

/*.front .view-latest-news .views-field-title,
.front .view-latest-news .views-field-body {
	width: 72%;
	float: right;
}
*/ 

/* Rows within Blocks */
.front .view-latest-articles .views-row,
.front .block-block-25 .block-field-row,
.front .block-paper-alert-block-3 .views-row {
	margin-bottom: 15px;
}

.front .block-views-meetings-block .views-row {
	margin-bottom: 20px;
}

/*.front .view-latest-news .views-row {
	height: 85px;
}
*/

.front .views-field-description p {
	margin-bottom: 5px;
}
.front .views-field-description .abstract {
	display: none;
}

.view-latest-news .more-link,
.block-forums-block-4 .more-link,
.block-block-25 .more-link,
.block-paper-alert-block-3 .more-link,
.block-clinical-trials-block .more-link,
.block-views-meetings-block  .more-link {
	float: left;
	margin-top: 2px;
}

.front .more-link a:after {
    content: "» ";
    padding-left: 4px;
    padding-right: 10px;
}

.front .more-link a {
    color: #ec611f;
    font-weight: bold;
    font-size: 11px;
}
.front .view footer {
	display: none;
}

.front .view .field-item img {
	float: left;
}

.front .field-content img {
	float: left;
	padding-right: 10px;
	height: 45px;
	padding-bottom: 50px;
}


/* Front Page Side bar second */
.region-sidebar-second {
	background: #f0f0f0;
	padding-top: 20px;	
	margin-top: -10px;
	width: 22%;
	float: right !important;
	display: none;
}

/*.front .region-sidebar-second {
	height: 910px;
}*/

.region-sidebar-second h2 {
	font-size: 13px;
	color: #BFD000;
	text-align: center;
}

.region-sidebar-second .block {
	padding-bottom: 20px;
}

/*.front .region-sidebar-second img {
	display: block;
  margin-left: auto;
  margin-right: auto;	
}*/

.region-sidebar-second p {
	text-align: center;
	font-weight: bold;
}



/* Interior Page Styling */
.secondary-menu {
	display: none;
}
.not-front h1 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .01em;
}

.not-front h2 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: .01em;
}

.not-front h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: .01em;
}

.not-front table {
	border: none;
}

.not-front .region-content img {
	padding-right: 20px;
}


/* News Page styling */
.page-node .node-article .field-type-image img {
	float: left;
}

.node-article .field-name-field-subtitle {
	font-style: italic;
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 15px;
}

.node-type-article .node-article h3 {
	margin-bottom: 20px;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none;
}

.not-front h2.node-title {
	color: #4D317A;
	font-size: 16px;
	font-weight: bold;
}

.block-views-manuscript-block h2 {
	margin: 20px 0 10px;
}

.pager {
	background: none;
	border: none;
}	

.pager li {
	border: none;
	background: none;
}

.pager li.pager-current {
    background: none;
    color:  #4D317A;
    outline: 0 none;
}
.pager li.pager-next {
    border: none;
}
.pager li a {
    background: none;
    cursor: pointer;
}
.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    padding: 4px 0;
    text-align: center;
    width: 60px;
}

/* Styling biblio items */
.front .biblio-editors-pick,
.view-editor-s-pick .biblio-editors-pick {
	display: none;
}
.view-editor-s-pick .biblio-extra,
.view-papers .biblio-extra  {
  padding-bottom: 20px;
}

.view-papers .biblio-editors-pick {
	color: #BFD000;
	font-weight: bold;
}


/* Registration page */
.page-user-register .tabs ul,
.page-user-register .fieldset-legend{
	display: none;
}

@media only screen and (min-width: 740px){
.page-user-register #user-register-form .form-actions {
	margin-left: 180px;
}
}

form#user-register-form label {
    color: #727272;
    float: left;
    font-size: 11px;
    padding-right: 16px;
    padding-top: 1px;
    /*text-align: right;*/
    text-transform: uppercase;
    width: 100%;
}

form#user-register-form .description {
    clear: both;
    /*margin-left: 180px;*/
    width: 100%;
}

form#user-register-form .form-text,
form#user-register-form .form-textarea {
    border: 1px solid #727272;
    color: #000;
    width: 100%;
}

form#user-register-form .grippie {
    display: none;
}

form#user-register-form select {
    border: 1px solid #727272;
    color: #000;
    width: 100%;
}


/* Hide Biblio settings in account profile form */
form#user-profile-form #edit-biblio-fieldset,
form#user-profile-form .form-item-name {
	display: none;
}

/* Palfreman's Blog theming */
.page-blog-palfreman .block-26 {
	padding-bottom: 35px;
}


/* Members Directory Theming */
.view-members2 td {
    padding: 10px 10px 10px 0 ;
    vertical-align: top;
    width: 50%;
}

.view-members2 .views-field-field-xfp-photo {
	float: left;
}

.view-members2 .views-field-field-xfp-photo img {
	padding-right: 19px;
}
	
.view-members2 .views-field-field-xfp-aoi {
	width: 68%;
	float: right;
	padding-top: 15px;
}	

.view-members2 .views-field-field-xfp-aoi .field-content {
	color: #4D317A;
}

.view-members2 .views-field-field-xfp-member-type {
	font-weight: bold;
}

.view-members2 a.alpha-page {
	padding: 5px;
}

.view-members2 .views-field-realname {
	font-weight: bold;
	font-size: 13px;
}

.page-members .region-content {
	margin: 10px 25px;
}

.page-members .container-12 .grid-9 {
    width: 670px;
}


/* Member Page  */
.page-user ul.tabs,
.page-user .profile h3 {
	display: none;
}

.page-user-edit ul.tabs {
	display: block;
}
.page-user .profile .field-name-field-xfp-photo {
	float: left;
}

.page-user .profile .field-name-field-xfp-member-type,
.page-user .profile .field-name-field-xfp-lab-url,
.page-user .profile .field-name-field-xfp-orcid,
.page-user .profile .field-name-field-xfp-aoi,
.page-user .profile .field-name-field-xfp-affiliation,
.page-user .profile .field-name-field-xfp-bio
{
  float: right;
  width: 85%;
  padding-bottom: 4px;
}

.page-user .field-name-field-xfp-member-type {
	font-weight: bold;
	
}

.page-user .block-member-commented-on-block-1 h2 {
	text-transform: uppercase;
	font-family: Helvetica, Arial, Verdana,sans-serif;
	font-size: 12px;	
	color: #4D317A;
	
}

.page-user .block-member-commented-on-block-1  {
	border: 1px solid #4D317A;
	float: right;
    width: 85%;
    margin-bottom: 40px;
}

.page-user .block-member-commented-on-block-1  .content {
	padding: 20px;
}

.page-user .block-member-commented-on-block-1  h2 {
	background-color:#f0f0f0;
	padding: 10px 20px;
}

.page-user .views-field-title {	
	font-weight: bold;
	padding-top: 5px;
}


/* Member and Blog section sidebar */
.page-user .region-sidebar-second,
.page-members .region-sidebar-second,
.context-blog .region-sidebar-second {
    background: none repeat scroll 0 0 #fff;
    padding-top: 10px;
}

.page-user .region-sidebar-second h2,
.page-members .region-sidebar-second h2,
.context-blog .region-sidebar-second h2 {
	background-color:#8f9699;
	color: white;
	font-family: Helvetica, Arial, Verdana,sans-serif;
	font-size: 14px;
	padding: 10px 20px;
}

#block-quicktabs-member-comments,
#block-quicktabs-popular-forums  {
	background-color: #f0f0f0;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs {
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	background-color: #d9d9d9;
	padding: 10px 10px;

}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li {
	margin: 0;
	padding: 13px 8px;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active {
	background-color: #f0f0f0;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active.first,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active.first {
	margin-left: -10px;
	padding-right: 15px;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active.last {
	padding-right: 18px;
}
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active.last{
	padding-right: 31px;
}


#quicktabs-member_comments #quicktabs-container-member_comments,
#block-quicktabs-popular-forums .view-content {
	margin-top: 10px;
}

#quicktabs-member_comments .view-content li {
	margin: 0;
	padding-left: 10px;
}

#block-quicktabs-popular-forums .view-content li {
	padding: 5px 0 5px 10px;
	margin: 0;
}

#block-quicktabs-popular-forums {
	padding-bottom: 0;
}

#quicktabs-member_comments .view-content .views-field-timestamp,
#quicktabs-member_comments .view-content  .views-field-entity-id,
#block-quicktabs-popular-forums .view-content .views-field-timestamp{
	float: right;
  padding-right: 10px;
}

#quicktabs-member_comments #quicktabs-container-member_comments .view-content .views-field-name a,
#block-quicktabs-popular-forums .view-content .views-field-title a,
#block-quicktabs-popular-forums .view-content .views-field-name a{
	color: #3f7e79;
	font-weight: bold;
}


#block-custom-search-blocks-1 input.custom-search-box,
#block-custom-search-blocks-2 input.custom-search-box  {
	width: 145px;
	margin: 20px 0 10px 15px;
}

#block-custom-search-blocks-1 .form-item-custom-search-blocks-form-1,
#block-custom-search-blocks-2 .form-item-custom-search-blocks-form-2 {
	width: 75%;
	display: inline;
}

#block-custom-search-blocks-1 .form-actions,
#block-custom-search-blocks-2 .form-actions  {
	display: inline;
	float: right;
	margin: 20px 15px 10px 0;
}

.block-custom-search-blocks-1 .content,
.block-custom-search-blocks-2 .content  {
	background-color: #f0f0f0;	
}

/* Discussion/Blog/Paper Alert and Latest News Theming */
.authors {
	font-weight: bold;
	padding-bottom: 10px;
}
a.suggest-topic {
    display: inline-block;
    background-color: #4D317A;
    background-image: url("../images/ico-plus.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px 10px 5px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.view-forums .views-exposed-form,
.view-paper-alert .views-exposed-form,
.view-latest-news .views-exposed-form {
  float: right;
  height: 0;
  position: relative;
  top: -60px;
  padding: 0;
}

/* Want spacing to be the same between authors and field paper link- these next 2 items */
.node-type-paper-alerts .forums-teaser-content .field-name-field-authors {
	padding: 3px 0;
	font-style: italic;
}

.node-paper-alerts .field-name-field-paper-link {
	padding-top: 3px;
	padding-bottom: 6px;
}


.view-forums #edit-submit-scf-forums {
    background:#000000;
    border: medium none;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 400;
    padding: 3px 6px;
    text-transform: uppercase;
}

.not-front .region-content .view-forums .views-row,
.not-front .region-content .view-paper-alert .views-row,
.not-front .region-content .view-latest-news .views-row,
.not-front .region-content .view-letters-to-the-editor .views-row,
.not-front .region-content .view-clinical-trials .views-row {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #4D317A; 
}

.views-field-comment-count,
.views-field-count {
    font-size: 8px;
    font-weight: bold;
    margin: 0;
}

.view-latest-news h2.node-title a {
  color: #4D317A;
  text-decoration: none;
  font-weight: bold;
}

.discussion-image-wrapper,
.view-latest-news .field-type-image {
  width: auto;
  overflow: hidden;
  float: left;
}

.view-forums .last-comment-by,
.view-latest-news .last-comment-by {
    margin-left: 105px;
}

.view-forums .field-name-body p,
.view-latest-news .field-name-body p{
	margin-bottom: 0;
}

#block-poll-recent {
  background-color: #f0f0f0;
}

#block-poll-recent .poll {
  margin: 10px 12px;
}

#block-poll-recent .poll .title {
  margin-bottom: 10px;
}

#block-poll-recent ul.links {
  display: none;
}



/* Fix margins and padding around icons */
.link-wrapper img,
.share-links img {
	padding-right: 0 !important;	
}

.link-wrapper ul.inline li {
	padding: 0;
	margin: 0;
}

.link-wrapper ul.inline li.comment-add {
	padding-left: 5px;
	padding-right: 2px;
}

.comment-div {
	display: inline;
	padding-right: 10px;
}
.share-links ul.inline li {
    padding: 0 15px 0 0;
    margin: 0;
}

.share-links a {
	padding-left: 15px;
}

.link-wrapper  .flag-wrapper {
	padding: 0 5px;
}

.link-wrapper  .flag-wrapper.flag-recommend {
	padding-right: 0;
}

.link-wrapper {
	background-color: #f0f0f0;
	padding: 10px 15px;
	margin-bottom: 5px;
}


/* Add borders around print, email icons */
.share-links ul.inline li {
    border-right: 1px solid #cccccc;
}

.share-links {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 10px 0;
}

.lrshare_interfacehorizontal {
    padding: 0 !important;
    float: right;
}


.page-node.node-type-discussion .submitted {
	padding-bottom: 10px;
}

.page-node.node-type-discussion .field-name-field-references {
	padding-bottom: 20px;
}



/* Comments */
.field-name-comment-body .filter-wrapper {
	display: none;
}

#comments .comment-form {
   background-color: #f0f0f0;
   margin: 0;
}

#comments h2.title {
	font-family: Helvetica, Arial, Verdana,sans-serif;
	color: white;
	font-weight: bold;
	background-color: #4D317A;
	font-size: 14px;
	padding: 15px;
}

article.comment {
	padding: 15px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
}

h2.comment-form {
	padding: 15px 15px 0 15px; 
}

form.comment-form {
	padding: 15px; 
}


/* Sidebar First Theming Menu Block */
.page-ltte #region-sidebar-first,
.page-contact #region-sidebar-first {
  display: none;
}


.page-ltte .container-12 .grid-6,
.page-contact .container-12 .grid-6{
  width: 100%
}

.not-front #region-sidebar-first ul,
.not-front #region-sidebar-first ul li.leaf {
  list-style: none;
}

.not-front #region-sidebar-first .block-title {
	border-top: 2px solid grey;
	padding: 10px 0;
}
	
.not-front #region-sidebar-first .block-title a,
.not-front #region-sidebar-first li a {
	font-size: 11px;
	font-weight: bold;	
}

.not-front #region-sidebar-first ul li {
	border-bottom: 1px dotted grey;
	padding: 7px 0 7px 7px;
}

.not-front #region-sidebar-first ul li.first {
	border-top: 1px dotted grey;
}

.not-front #region-sidebar-first ul li ul li.first {
	border-top: none;
}

.not-front #region-sidebar-first ul li ul li.last {
	border-bottom: none;
}

.not-front #region-sidebar-first li.active-trail .active{
	font-weight: bold;
	color: #ec611f;
}

.not-front #region-sidebar-first ul > li.active a:after {
	content: url('../images/circlearrow-over.gif');
    padding-right: 5px;
    float: right;
}

.not-front #region-sidebar-first ul > li:hover a:after {
	content: url('../images/circlearrow-over.gif');
    padding-right: 5px;
    float: right;
}
.not-front #region-sidebar-first li a:after,
.not-front #region-sidebar-first .block-title a:after,
.not-front #region-sidebar-first ul li.active ul li a:after,
.not-front #region-sidebar-first ul li:hover ul li a:after {
    content: url('../images/arrow.gif');
    color: grey;
    padding-right: 5px;
    float: right;
}

.context-editorial-board td {
	vertical-align: top;
}

/* Clinical Trials Corner */
/* Editors Names alignment table */
.page-clinical-trials td, th {
	padding: 0;
	width: 1%;
}
 
.view-clinical-trials .field-label-inline .field-items {
	float: none;
}


.page-upcoming-meetings .views-field-field-meeting-image {
	float: left;
}

.page-upcoming-meetings .views-field-field-meeting-image .field-content img{ 
	height: 45px; 
	margin-bottom: 50px; 
}

.page-upcoming-meetings .views-row {
	padding: 22px 0;
}

.node-type-clinical-trials .region-content,
.node-clinical-trials .region-content {
	padding-bottom: 2%;
}

/* Masquerade Block Theming */
.block-masquerade .description,
.block-masquerade a:link {
   color: #FFFFFF;
   text-decoration: none;
   font-size: 0.95em
}
